#container{
    width: 600px;
    height: 600px;
    margin: auto;
}


#dirtbox{
    width: 600px;
    height: 600px;
    background-color:rgb(127,204,51);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 30px;
    border: 10px solid darkgreen;
}

#mole{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px;
    background-image: url("https://cdn.bulbagarden.net/upload/4/44/701Hawlucha.png");;
    background-position: center;
    background-size: 80px;
}

.dirt{
    margin: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(205,133,63);
    border: 10px solid rgb(139, 69, 19);
}